<div class="container mt-5">
<h2 class="mt-5 text-center">Public Recipes</h2>

<ul class="container mt-5">
  <% @public_recipes.each do |recipe| %>
    <li class=" mb-5 border border border-secondary list-unstyled p-5">
      <a href=<%= "recipes/#{recipe.id}" %> class="text-decoration-none text-dark">    
      <div class="d-flex gap-5 justify-content-around ">  
        <div>
          <h3><%= recipe.name %></h3>
          <p>by: <%= recipe.user.name %></p>
        </div>
        <div >
          <h3>Total food: <%= recipe.recipe_foods.length %></h3>
          <h3>Total food: <%= recipe.recipe_foods.length %></h3>
        </div>
        </div>
      </a>
    </li>
  <% end %>
</ul>
</div>