<p style="color: green"><%= notice %></p>


<div >
<div class="d-flex justify-content-center p-2">
<h1><%= @recipe.name %></h1>
</div>

<div class="d-flex justify-content-between p-2">
    <h4>Preparation time: <%= @recipe.preparation_time %> hours</h4>
  </div>
  
  <div class="d-flex justify-content-between p-2">
    <h4>Cooking time<%= @recipe.cooking_time %> hours</h4>
  </div>

  <div class="d-flex justify-content-between p-2">
    <h4>Steps go here...</h4>
  </div>

  <hr>

  <div class="d-flex justify-content-between p-2">
  </div>

  <hr class="line" />

<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.food.quantity %></td>
        <td><%= recipe_food.food.price %></td>
        <td><%= link_to 'Modify', edit_food_path(recipe_food.food) ,class: "btn btn-outline-primary underline" %>
          <span><%= link_to 'Remove', food_path(recipe_food.food), data: { turbo_method: 'delete', turbo_confirm: "Are you sure to delete" }, class: "btn btn-outline-danger underline" %></span>
        </td>
      </tr>
    </tbody>
    <%end%>
  </table>
</div>
